DB_PASSWORD=postgres
DB_USER=postgres
PG_DATABASE=notif
PG_PORT=5432
PG_HOST=localhost

JWT_SECRET=
JWT_EXP_SECONDS=

MAIL_HOST=smtp.yandex.ru
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PROPERTY_SMTP_AUTH=true
MAIL_PROPERTY_SMTP_STARTTLS_ENABLE=true

TELEGRAM_TOKEN=
TELEGRAM_BOT_NAME=
TELEGRAM_EXECUTORS_NUM=